In [146]:
import pandas as pd
import time
import re
import tweepy
import requests
from bs4 import BeautifulSoup
from types import MappingProxyType
import datetime
import math

### 定数定義

In [154]:
df = pd.DataFrame()

# 1秒スリープ
time.sleep(1)

# スクレイピング対象のURLを生成する
url = 'https://www.spotrac.com/epl/manchester-city-fc/contracts/'
df = pd.read_html(url)[0]
# マルチインデックスを解消する
df = df.T.reset_index(level=0, drop=True).T

html = requests.get(url)
html.encoding = "EUC-JP"
# HTMLを解析する
soup = BeautifulSoup(html.text, "lxml")

# 選手の契約情報を取得
player_name_list = []
avg_salary_list = []
expired_year_list = []

for num in range(len(df)):
    # 選手
    player_name_list.append(df[0][num])
    
    # 年俸
    # £:スターリング・ポンド⇒円変換(1£=160円)
    # https://yuis-programming.com/?p=511　※moduleをレイヤー追加するのが手間
    if df[4][num] == '-':
        df[4][num] = '£0,0'

    salary = df[4][num].replace('£', '').replace(',', '')
    salary_yen = 160 * int(salary)
    avg_salary_list.append(salary_yen)
    
    # 契約期間
    expired_year_list.append(df[6][num])
    
print(player_name_list, avg_salary_list, expired_year_list)

['Kevin De Bruyne', 'Erling Haaland', 'Jack Grealish', 'John Stones', 'Phil Foden', 'Rodrigo Hernández Cascante', 'Ruben Dias', 'Bernardo Silva', 'Kalvin Phillips', 'Manuel Akanji', 'Aymeric Laporte', 'Ilkay Gundogan', 'Kyle Walker', 'Benjamin Mendy', 'Joao Cancelo', 'Nathan Ake', 'Riyad Mahrez', 'Ederson Moraes', 'Julian Álvarez', 'Sergio Gomez', 'Zack Steffen', 'Stefan Ortega', 'Cole Palmer', 'Scott Carson', 'Filip Stevanovic', 'Diego Rosa', 'Nahuel Bustos'] [3328000000, 3120000000, 2496000000, 2080000000, 1872000000, 1830400000, 1442133280, 1248000000, 1248000000, 1497600000, 998400000, 1164800000, 915200000, 748800000, 665600000, 768000000, 998400000, 540800000, 416000000, 416000000, 382720000, 457600000, 112000000, 249600000, 0, 0, 0] [2025, 2027, 2027, 2026, 2027, 2027, 2027, 2025, 2028, 2027, 2025, 2023, 2024, 2023, 2027, 2025, 2025, 2026, 2027, 2026, 2025, 2025, 2026, 2023, 2026, 2025, 2025]

In [153]:
# df[i][j] ※i=列, j=行
df

,0,1,2,3,4,5,6
0,Kevin De Bruyne,M,31.0,"5 yr £104,000,000","£20,800,000","£62,900,000",2025
1,Erling Haaland,F,22.0,"5 yr £97,500,000","£19,500,000","£66,000,000",2027
2,Jack Grealish,M,27.0,"6 yr £93,600,000","£15,600,000","£129,250,000",2027
3,John Stones,D,28.0,"5 yr £65,000,000","£13,000,000","£47,260,000",2026
4,Phil Foden,M,NaN,"5 yr £58,500,000","£11,700,000",-,2027
5,Rodrigo Hernández Cascante,M,26.0,"5 yr £57,200,000","£11,440,000","£79,800,000",2027
6,Ruben Dias,D,NaN,"6 yr £54,080,000","£9,013,333","£74,800,000",2027
7,Bernardo Silva,M,28.0,"6 yr £46,800,000","£7,800,000","£43,800,000",2025
8,Kalvin Phillips,M,27.0,"6 yr £46,800,000","£7,800,000","£53,620,000",2028
9,Manuel Akanji,D,27.0,"5 yr £46,800,000","£9,360,000","£19,250,000",2027
10,Aymeric Laporte,D,28.0,"6 yr £37,440,000","£6,240,000","£58,500,000",2025
11,Ilkay Gundogan,M,32.0,"4 yr £29,120,000","£7,280,000","£22,950,000",2023
12,Kyle Walker,D,32.0,"5 yr £28,600,000","£5,720,000","£43,350,000",2024
13,Benjamin Mendy,D,28.0,"6 yr £28,080,000","£4,680,000","£52,000,000",2023
14,Joao Cancelo,D,28.0,"6 yr £24,960,000","£4,160,000","£74,100,000",2027
15,Nathan Ake,D,27.0,"5 yr £24,000,000","£4,800,000","£49,830,000",2025
16,Riyad Mahrez,M,31.0,"3 yr £18,720,000","£6,240,000","£60,100,000",2025
17,Ederson Moraes,GK,29.0,"5 yr £16,900,000","£3,380,000","£35,000,000",2026
18,Julian Álvarez,F,22.0,"6 yr £15,600,000","£2,600,000","£18,700,000",2027
19,Sergio Gomez,D,22.0,"4 yr £10,400,000","£2,600,000","£14,300,000",2026
20,Zack Steffen,GK,27.0,"4 yr £9,568,000","£2,392,000","£9,120,000",2025
21,Stefan Ortega,GK,30.0,"3 yr £8,580,000","£2,860,000",-,2025
22,Cole Palmer,M,20.0,"5 yr £3,500,000","£700,000",-,2026
23,Scott Carson,GK,37.0,"1 yr £1,560,000","£1,560,000",-,2023
24,Filip Stevanovic,F,20.0,6 yr -,"£0,0","£9,350,000",2026
25,Diego Rosa,M,20.0,5 yr -,"£0,0","£6,600,000",2025
26,Nahuel Bustos,F,24.0,5 yr -,"£0,0","£7,000,000",2025

In [ ]:
# ツイート作成

In [148]:

# for num in range(len(df)):
#     print(avg_salary_list[num])
#     salary = avg_salary_list[num].replace('£', '').replace(',', '')
#     print(salary)
#     avg_salary_list[num] = 160 * int(salary)

# print(avg_salary_list[0])

# avg_salary_list[0] = avg_salary_list[0].replace('£', '').replace(',', '')

# print(avg_salary_list[0])

# avg_salary_list[0] = 160 * int(avg_salary_list[0])

# print(avg_salary_list[0])

# avg_salary_list[0] = 2 * int(avg_salary_list[0])


# 対象ページ
url = 'https://fbref.com/en/players/c1242d4e/Stefan-Ortega'

# スクレイピング
top_r = requests.get(url)

# HTMLを解析する
top_soup = BeautifulSoup(top_r.content, "html.parser")

# 選手情報を取得
td_list = top_soup.find\
        ('div', id='meta').find_all('p')

# print(td_list)

t_search_key = 'Expires'
expires_list = []

for p in td_list:
    if t_search_key in p.text:
        if re.search(r'Expires', p.text) is not None:
            expires_list.append(p.text)
            
print(expires_list)


# 契約期間と年棒・週休をスレッド形式で配信する。
# 対象ページ
url = 'https://www.spotrac.com/epl/manchester-city-fc/contracts/'

# スクレイピング
top_r = requests.get(url)

# HTMLを解析する
top_soup = BeautifulSoup(top_r.content, "html.parser")

# テーブル情報を取得
td_list = top_soup.find\
        ('table').find_all('td')

for td in td_list:
    work_td = td.text.split('\n')
    # アルファベット    
    # 2桁の数値
    # £が含まれている
    # 4桁の数値

[' Wages: \n    \n£ 55,000 Weekly\n\n        Expires June 2025. Via Capology.\n    ']